aws_region         = "us-east-1"
project_name       = "secure-cicd-pipeline"
environment        = "dev"
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]
app_count          = 2
fargate_cpu        = 256
fargate_memory     = 512